@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica-Bold', sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}
button{
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
.section-title{
  text-transform: uppercase;
  font-weight: 400;
  }

.container{
max-width: 1220px;
padding: 0 10px;
margin: 0 auto;
}

body{
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5C5C5E;

}

.header{
  border-bottom: 1px solid var(--light-grey, #CACAD6)
}

.nav{
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
height: 80px;
}

.menu{
  display: flex;
  gap: 0 20px;
}
.logo{
  justify-self: center;
}
.basket{
  justify-self: end;
  position: relative;
}
  .basket--on span {
    font-size: 11px;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    color: #fff;
    position: absolute;
    line-height: 0;
    justify-content: center;
    bottom: 0;
    right: -2px;
    align-items: center;
}
.top{
  min-height: calc(100vh - 81px);
  background-image: url(../images/top-bg.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.title{
  padding-top: 16%;
  font-size: 96px;
  margin-bottom: 10px;
  font-weight: 400;
}
.subtitle{
  font-size: 36px;
  margin-bottom: 5px;
}
.top__text{
  font-size: 13px;
  margin-bottom: 50px;
}
.buy__text{
  font-size: 13px;
  padding-top: 10px;
}
.buy-btn{
cursor: pointer;
/* border: none; */
background: linear-gradient(180deg,
 #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
 display: flex;
 padding: 0;
 text-transform: uppercase;
 padding: 1px;
}
.buy-btn__text{
  color: #F6F4F5;
  padding: 20px 110px;
  font-weight: 700;
  text-transform: uppercase;
}
.buy-btn__price{
  color: #5C5C5E;
background-color: #F6F4F5;
padding: 20px 105px;
font-weight: 700;
font-size: 16px;
} 
.features{
  padding: 100px 0;
}
.features__titles{
  display: flex;
}
.features__title{
  flex-basis: 300px;
  padding-right: 20px;
}
.features__text{
  max-width: 330px;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.tabs{
  display: grid;
  grid-template-columns: 300px auto;
}
.tabs__btn{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tabs__btn-item{
  margin-bottom: 20px;
  font-weight: 700;
}
.tabs__btn-item--active{
  color: #070707;
}
.tabs__content{
  position: relative;
  min-height: 300px;
}
.tabs__content-item{
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity .5s ease;
}
.tabs__content-item--active{
  opacity: 1;
}
.tabs__content-img{
  grid-row: 1/-1;
  align-self: stretch;
}
.tabs_content-box h3{
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}
.video{
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background-image: url(../images/content_bg.jpg);
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 9px 10px;
}
.video span{
color: #F6F4F5;
font-size: 13px;
}
.video_btn{
margin-left: 22px;
}
.game{
  margin-bottom: 100px;
}
.game__title{
  margin-bottom: 50px;
}
.game__inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.game__descr{
  padding-right: 10px;
}
.game__descr-title{
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.game__descr-text{
  margin-bottom: 30px;
}
.game__link{
  display: inline-block;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
text-transform: uppercase;
padding: 16px 48px;
border: 1px solid #BC10D8;
}
.game__item{
  border: 1px solid #BC10D8;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.game__item-img{
  margin-bottom: 10px;
}
.game__item-title{
margin-bottom: 10px;
font-size: 24px;
}
.game__item-text{
margin-bottom: 40px;
}
.game_item_link{
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}
.buy{
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
.buy__img{
  margin-bottom: 30px;
}
.buy .buy-btn{
  margin: 0 auto; 
}
.buy_bg{
  opacity: 0.1;
background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: normal;
font-size: 400px;
font-weight: 700;
line-height: 400px;
position: absolute;
z-index: -1;
animation: line-text 6s linear 1s infinite;
}
@keyframes line-text{
  from{
    transform: translateX(100%);
    transform-origin: left center ;
  }
  to{
    transform: translateX(-115%);
    transform-origin: right center ;
  }
}
.equipment{
  margin-bottom: 100px;
}
.equipment__title{
  margin-bottom: 50px;
}
.equipment__box{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.equipment__box-img{
  margin-bottom: 10px;
}
.equipment__box-title{
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 36px;
line-height: normal;
text-transform: uppercase;
}
.equipment__box-item-one{
  grid-row: 1/-1;
}
.promo{
  margin-bottom: 100px;
}
.promo_inner{
  background-image: url(../images/promo_bg.jpg);
  min-height: 500px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;
position: relative;
}
.promo__btn{
  color: #fff;
  font-weight: 700;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  border-radius: 50%;
  width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 80px;
left: 0;
right: 0;
margin: 0 auto;
}
.accessories{
  margin-bottom: 100px;
}
.accessories__title{
margin-bottom: 30px;
}
.accessories__text{
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 30px;
text-transform: uppercase;
font-size: 36px;
}
.accessories_items{
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.accessories_item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
padding: 20px;
border: 1px solid var(--gradient, #BC10D8);
background: rgba(217, 217, 217, 0.00);
}
.accessories__item-img{
  margin-bottom: 10px;
}
.accessories__item-title{
  font-size: 24px;
  color:  #070707;
  margin-bottom: 10px;
  min-height: 67px;
}
.accessories__item-text{
  margin-bottom: 40px;
  margin-top: auto;
}
.accessories__item_cost{
  color: #070707;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: auto;
}
.accessories__item-btn{
border: 1px solid var(--gradient, #bc10d8);
background: rgba(217, 217, 217, 0.00);
padding: 6px;
background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 16px;
text-align: center;
width: 100%; 
}
.contacts{
  margin-bottom: 100px;
}

.contacts__title{
  font-size: 24px;
  color: #070707;
  margin-bottom: 10px;
}
.contacts__inner{
  display: flex;
 align-items: end;
  justify-content: space-between;
}
.contacts__form{
flex-basis: 600px;
}
.contacts__text{
  font-size: 13px;
}

.form{
  margin-bottom: 10px;
  position: relative;
  
}
.form__input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding: 22px 70px 22px 0;
}
.form__input::placeholder{
color: var(--light-grey, #CACAD6);
font-family: Helvetica;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form__btn{
width: 50px;
height: 50px;
background-color: #CACAD6;
text-transform: uppercase;
font-size: 16px;
font-weight: 700;
color: #5C5C5E;
border-radius: 50%;
position: absolute;
right: 0;
bottom: 5px;
}
.footer{
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
  margin-bottom: 45px;
  padding: 30px 0;
}

.social{
  display: flex;
  gap: 0 20px;
  justify-self: end;
  
}


